<div class="container-fluid">
  <div>
    <h1>Hola Mundo!!!</h1>
    <P>{{grupo}}</P>
  </div>
  <div>El valor ahora es el doble {{duplicar(2)}}</div>
  
  <div>
    <b>Matricula: </b>{{alumnos.matricula}}
  </div>
  <div>
    <b>Nombre: </b>{{alumnos.nombre}}
  </div>
  <div>
    <b>Fecha Nacimiento: </b> {{alumnos.fechaNacimiento |date}}
  </div>
  <div>
    <b>Pago: </b>{{alumnos.pago |currency}}
  </div>
</div>

<hr>
<app-grupo></app-grupo>
<hr>
<app-grupo2></app-grupo2>
<hr>
<app-ird></app-ird>

